body {
  font-family: "Roboto", Helvetica, sans-serif;
}
.city-data {
  margin-top: 20px;
}
.app-header {
  margin-bottom: 20px 20px;
}
.search-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.container {
  max-width: 600px;
  margin-top: 25px;
}
h1,
.emoji-big,
.temp-big,
.weekday-date-small,
.weekday-small {
  text-align: center;
}
.emoji-big {
  font-size: 60px;
}
.temp-big {
  font-size: 54px;
  font-weight: 900;
}

.weekday-date-small {
  font-size: 12px;
}
.input-group-text {
  background: none;
}
.weather-description {
  padding-top: 20px;
}
.windspeed {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.five-days-card {
  margin: 20px 0;
  padding: 20px 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-basis: content;
}
.forecastNextDays {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px 5px;
}
.forecastTemperatures {
  display: flex;
  justify-content: space-around;
}
.forecastTemperature {
  padding: 0 5px;
}
.btn-primary {
  background-color: #5c636a;
  border-color: #ced4da;
}
.btn-primary:hover {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}
.btn-primary:focus {
  background-color: #5c636a;
  border-color: #ced4da;
}
.btn-primary:focus-visible {
  border-color: #e3e3e3;
}
.btn-light {
  padding: 5px;
}

.btn-light:hover {
  color: #212529;
  background-color: #e3e3e3;
  border-color: #e3e3e3;
}

.footer {
  font-size: small;
  margin-top: 15px;
}
